/* 메인과 카테고리 리스트 */

.menu-left {
    float: left;
    width: 15%;
    margin: 20px;
}

.How_was_your_day {
	margin: 20px;
}

.menu-left div {
	margin: 10px;
}

.main-board {
	float: right;
	width: 80%;
	margin: 0 auto;
}

#full_article {
	text-align: center;
	margin: 15px;
	font-size: var(--font-regular);
}


table {
	width: 80%;
	margin: 35px auto;
	border-collapse: collapse;
}

td, th {
	border-top: 2px solid var(--color-grey);
	border-bottom: 2px solid var(--color-grey);
	text-align: center;
}

#title {
	border-bottom: none;
}

#content {
	border-top: none;
}

.thumbnail {
	text-align: center;
}

#circle-grade {
	text-align: center;
	line-height: 300%;
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
	background-color: var(--color-sky);
	
}

.division > th:nth-child(1) {
	width: 10%;
}

.division > th:nth-child(2) {
	width: 40%;
}

.division > th:nth-child(3) {
	width: 15%;
}

.division > th:nth-child(4) {
	width: 15%;
}

.division > th:nth-child(5) {
	width: 10%;
}

.division > th:nth-child(6) {
	width:10%;
}

.searchArea {
	text-align: center;
	padding-left: 200px;
}

.btnWriteStart {
	clear:both;
	text-align: right;
	margin: 0px 100px;
}

.btnWrite {
  border-radius: 28px;
  font-size: var(--font-small);
  background: var(--color-sky);
  padding: 10px 20px 10px 20px;
}

#paging {
	text-align: center;
	clear:both;
	padding-left:200px;
}

/* Write css--------------------------- */

.writearea {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding-top:10px;	
	padding-bottom: 40px;
}

#writeTitle {
	text-align: left;
}

#writeContent {
	width: 80%;
	height: 300px;
	resize: none;
	border: none;
	font-size: var(--font-micro);
	font-family: "Noto Sans KR", sans-serif;
}
