/* Global */
:root {
    /* color */
    --color-white: #ffffff;

    --color-black: #000000;
    --color-grey: #bebebe;
    --color-dark-grey: #616161;
    --color-light-grey: #d9d6d2;

    /*아연님 사용컬러*/
    --color-sky: #b4cdef;
    --color-light-sky: #d9f5fd;
    --color-dark-sky: #c6d2f9;

    --color-orange: #f39800;

    /* Font Size */
    --font-large: 34px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
}

/* font */
@font-face {
    src: url("../font/BareunBatangB.ttf");
    font-family: "batang";
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

a {
    font-family: "Noto Sans KR", sans-serif;
    text-decoration: none;
    color: var(--color-black);
}

hr {
    border: 1px solid var(--color-grey);
}

ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-size: var(--font-large);
}


body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
header {
    font-family: "batang", "Noto Sans KR", sans-serif;
}

#header {
    display: flex;
    flex-flow: column;
    text-align: center;
    user-select: none;
}

#header .enter {
    text-align: right;
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-micro);
    margin: 10px;
}

.header__title {
    color: var(--color-sky);
    font-weight: var(--weight-regular);
    cursor: default;
}

.header__title > i {
    position: relative;
    top: -30px;
    left: -20px;
    color: var(--color-orange);
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 50px;
}

/* navbar */

#navbar {
    margin: 0;
    padding: 0;
    border-top: 2px solid var(--color-grey);
    border-bottom: 2px solid var(--color-grey);
    font-size: var(--font-regular);
}

.navbar__list {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    font-weight: var(--weight-bold);
}

.navbar__list a {
    color: var(--color-dark-grey);
}

.navbar__item {
    padding: 8px 20px;
    user-select: none;
}

.navbar__item:hover {
    text-decoration: underline;
}

.navbar__buttons {
    display: none;
}


/* footer */
footer {
    background-color: var(--color-light-grey);
    text-align: center;
    padding: 30px;
}

.footer__description {
    font-size: var(--font-small);
}

.footer__rights {
    font-size: var(--font-micro);
}

.footer__contact {
    font-weight: var(--weight-semi-bold);
    text-decoration: underline;
}


/* top button */
/* top button */
.top {
    display: none;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 30px;

    font-size: 30px;
    opacity: 0.8;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: var(--color-sky);
    border: 1px solid white;
    color: var(--color-white);
}
.top.active {
    display: block;
}


/* Responsive */
@media screen and (max-width: 768px) {
    :root {
        /* Font Size */
        --font-large: 30px;
        --font-medium: 24px;
        --font-regular: 18px;
        --font-small: 16px;
        --font-micro: 14px;
    }

    /* header */
    .header__title {
        display: none;
    }


    /* navbar */
    nav {
        background-color: var(--color-white);
        position: sticky;
        left: 0;
        top: 0;
    }

    #navbar {
        display: flex;
        flex-flow: column;
    }

    #navbar .navbar__bars {
        display: inline-block;
        color: var(--color-dark-grey);
        text-align: right;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar__item {
        border-top: 1px solid var(--color-light-grey);
    }

    .navbar__list {
        display: none;
        flex-flow: column;
    }

    .navbar__buttons {
        display: flex;
        justify-content: space-between;
        padding: 8px 8px;
    }

    .navbar__home {
        display: flex;
    }

    .navbar__home i {
        color: var(--color-orange);
    }

    .navbar__title {
        color: var(--color-sky);
        font-family: "batang", "Noto Sans KR", sans-serif;
        margin: auto;
    }

    .navbar__list.active {
        display: block;
    }

}