#service {
    background-color: var(--color-light-sky);
}

.service__wrap {
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px auto;
    padding: 20px;
}

.weather {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-right: 50px;
    user-select: none;
}

.weather__main {
    display: flex;
    flex-flow: column;
    align-content: center;
    text-align: center;
}

.weather__date {
    margin-top: 30px;
}


/* weather-card */

.weather-card {
    text-align: center;
}

.weather-card__image {
    margin: 10px;
    font-size: 50px;
    color: var(--color-dark-grey);
}

.weather-card__detail {
    color: var(--color-grey);
    font-size: var(--font-micro);
}

.rain {
    color: dodgerblue;
}

.temperatures {
    color: black;
}

.weather__main .weather-card__time {
    display: none;
}

.weather__main .weather-card__image i,
.weather__region i {
    cursor: pointer;
}


/* slider  */
.slider {
    margin: 30px auto;
    display: flex;
    width: 360px;
}

.slider__wrap {
    width: 100%;
}

.slider__contents {
    position: relative;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.slider__contents.active {
    cursor: grabbing;
}
.slider__wrap .weather-card {
    display: inline-block;
}

.slider__wrap .weather-card:not(.weather-card:first-child) {
    margin-left: 30px;
}

.slider__wrap .weather-card__detail {
    display: flex;
}

.slider__wrap .weather-card__detail .rain {
    margin-left: 10px;
}

.slider__arrow {
    font-size: 30px;
    line-height: 150px;
    color: var(--color-light-grey);
    margin: 5px;
}


.weather__region {
    font-size: var(--font-small);
    margin-top: 20px;
}

.weather__region i {
    color: var(--color-dark-grey);
}

.weather__description {
    font-size: var(--font-micro);
    color: var(--color-dark-grey);
}

.costume {
    background-color: white;
    border: 1px solid var(--color-grey);
    border-radius: 30%;
    padding: 10px 50px;
    width: 400px;

    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: space-evenly;

    position: relative;
}

.costume__title {
    text-align: center;
    color: var(--color-grey);
    font-size: var(--font-regular);
    margin-bottom: 20px;
}

.clothes {
    display: flex;
    margin: 10px;
}

.clothes__image {
    margin: 10px 20px;
    max-width: 100px;
    max-height: 100px;
}

.clothes__description {
    font-size: var(--font-micro);
    line-height: 100px; /* 이미지 크기대로 */
    color: var(--color-dark-grey);
    font-weight: var(--weight-semi-bold);
}


.costume__gender {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.gender__male,
.gender__female {
    border: none;
    border-radius: var(--size-border-radius);
    color: white;
    font-size: var(--font-micro);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.gender__male {
    background-color: deepskyblue;
    margin-right: 30px;
}

.gender__female {
    background-color: hotpink;
}

.costume__refresh {
    position: absolute;
    bottom: 80px;
    right: 50px;

    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;

    background-color: var(--color-light-grey);
    color: var(--color-white);
    border-radius: 50%;

    cursor: pointer;
}

/* schedule */
#schedule {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
}

.schedule__title {
    text-align: center;
    color: var(--color-dark-grey);
}

.schedule-slider {
    padding: 0 50px;
    width: 100%;
    user-select: none;
    cursor: default;
}

.schedule-cards {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.schedule-cards.active {
    cursor: grabbing;
}

.schedule-card {
    display: inline-block;
    width: 20%;
    height: 300px;
}

.schedule-card:not(.schedule-card:first-child) {
    margin-left: 30px;
}

.card__wrap {
    border: 1px solid var(--color-dark-sky);
    border-radius: 20%;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;

}

.card__month {
    text-align: center;
    font-weight: var(--weight-bold);
    color: var(--color-light-grey);
}

.card__top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: var(--weight-regular);
}

.card__day {
    font-weight: var(--weight-semi-bold);
    color: var(--color-dark-grey);
}

.card__day.holiday{
    color: var(--color-red);
}

.card__day.saturday {
    color: var(--color-blue);
}

.card__bottom {
    text-align: center;
    color: var(--color-sky);
}

.card__body {
    height: 180px;
}

.card__forecast {
    font-size: var(--font-micro);
    color: var(--color-light-grey);
}




/* Responsive */
@media screen and (max-width: 1000px) {
    /* schedule */
    .schedule-card {
        width: 25%;
    }

    .schedule-card:not(.schedule-card:first-child) {
        margin-left: 25px;
    }
}

@media screen and (max-width: 750px) {
    /* schedule */
    .schedule-card {
        width: 35%;
    }
}

@media screen and (max-width: 570px) {
    /* schedule */
    .schedule-card {
        width: 40%;
    }

    .schedule-card:not(.schedule-card:first-child) {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    /* schedule */
    .schedule-card {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    /* weather */
    .clothes {
        display: flex;
        flex-flow: column;
        text-align: center;
        align-content: center;
        margin: auto;
    }

    .clothes__description {
        line-height: inherit;
    }

    .clothes__image {
        margin: 10px auto;
    }

    .costume__refresh {
        z-index: 1;
    }

    .slider {
        max-width: 200px;
    }
    .slider__contents {
        width: 160px;
    }

    .weather {
        margin: auto;
    }

    /* schedule */
    .schedule-card {
        width: 80%;
    }
}